<div id="background">
  {{ partial "partials/home/background.html" . }}
</div>

<section class="prose dark:prose-invert">
  <span class="flex items-center justify-between grow dark:text-neutral-300">
    <p>Hi, I&rsquo;m Ethan, an undergrad at UIUC and aspiring game developer. When I&rsquo;m not lying in bed, spending time with friends, or doing flips at the gym, I like to spend time researching and working on game design. I also have a strong background in programming, especially in C# and Java.</p>
  </span>
</section>
